<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home | iTunes Clone</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expanded-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">iTunes Clone</a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
    </nav>

    <!-- Welcome message and search box -->
    <header class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">Welcome to the iTunes Clone!</h1>
            <!-- Search form -->
            <form class="form-inline text-center justify-content-center align-items-center" th:action="@{/searchTrack}" method="post">
                <input class="form-control active-purple-2" type="text" placeholder="Search songs" aria-label="Search" tH:value="${searchText}" name="searchText" required>
                <button class="btn btn-info my-4" type="submit">Search</button>
            </form>

            <div th:if="${success} != null">
                <div class="alert alert-success alert-dismissible fade shadow" role="alert" th:if="${success} == true">
                    <strong>Success!</strong>
                </div>
                <div class="alert alert-danger alert-dismissible fade shadow" role="alert" th:if="${success} == false">
                    <strong>Failure!</strong>
                </div>
            </div>


        </div>
    </header>

    <main class="container">
        <article class="row">
            <!-- Random artists -->
            <div class="col">
                <section class="card shadow-lg p-3 mb-5 bg-light rounded">
                    <div class="card-header">
                        5 random artists
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:each="artist: ${artists}">
                            👤<span th:text="${artist.getName()}"></span>
                        </p>
                    </div>
                </section>
            </div>

            <!-- Random songs -->
            <div class="col-md">
                <section class="card shadow-lg p-3 mb-5 bg-light rounded">
                    <div class="card-header">
                        5 random songs
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:each="track: ${tracks}">
                            <span th:if="${track.getComposer()} != null">👤<span th:text="${track.getComposer()}"></span><br></span>
                            <span th:if="${track.getComposer()} == null">👤 Unknown <br></span>
                            🎵<span th:text="${track.getName()}"></span>
                        </p>
                    </div>
                </section>
            </div>

            <!-- Random genres -->
            <div class="col">
                <section class="card shadow-lg p-3 mb-5 bg-light rounded">
                    <div class="card-header">
                        5 random genres
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:each="genre: ${genres}">
                            🎶<span th:text="${genre.getGenreName()}"></span>
                        </p>
                    </div>
                </section>
            </div>

        </article>
    </main>


</body>
</html>