<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search | iTunes Clone</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expanded-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">iTunes Clone</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </nav>

    <!-- Welcome message and search box -->
    <header class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">Welcome to the iTunes Clone!</h1>
            <!-- Search form -->
            <form class="form-inline text-center justify-content-center align-items-center" th:action="@{/searchTrack}" method="post">
                <input class="form-control active-purple-2" type="text" placeholder="Search songs" aria-label="Search" tH:value="${searchText}" name="searchText" required>
                <button class="btn btn-info my-4" type="submit">Search</button>
            </form>

            <div th:if="${success} != null">
                <div class="alert alert-success alert-dismissible shadow" role="alert" th:if="${success} == true">
                    <strong>Success!</strong>
                </div>
                <div class="alert alert-danger alert-dismissible shadow" role="alert" th:if="${success} == false">
                    <strong>Failure!</strong>
                </div>
            </div>

        </div>
    </header>

    <main class="container">

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Album</th>
                    <th scope="col">Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="track,i: ${tracks}">
                    <th scope="row" th:text="${i.index}+1"></th>
                    <td th:text="${track.getName()}"></td>
                    <td th:text="${track.getComposer()}"></td>
                    <td th:text="${track.getAlbumName()}"></td>
                    <td th:text="${track.getGenre()}"></td>
                </tr>
            </tbody>
        </table>

    </main>
</body>
</html>